html {
  height: 100%;
  width: 100%;
  font-family: monospace;
  /* font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif; */
}

.container {
  display: none;
}

.task-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 1px;
  /* background-color: #0180ff; */
  /* background-color: #df99f5; */
  padding: 1px;
}

.big-card {
  text-align: center;
  border: #1e90ff solid 5px;
  /* padding: 2rem; */
  width: 11rem;
  /* height: 15rem; */ 
  display: inline-grid;
  /* margin: 2rem 2rem; */
}

.card {
  text-align: center;
  border: rgb(0, 0, 0) solid 2px;
  /* padding: 2rem; */
  width: 11rem;
  /* height: 15rem; */
  display: inline-grid;
  /* margin: 2rem 2rem; */
}

button {
  /* font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif; */
  font-family: monospace;

  /* font-size: 7px; */
}

.delete-button {
  font-size: 7px;
}

.submit {
  /* font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif; */
  font-family: monospace;

}

button:hover {
  background-color: whitesmoke;
  border: #1e90ff solid 1px;
  color: #1e90ff;
}

.submit:hover {
  background-color: whitesmoke;
  border: #1e90ff solid 1px;
  color: #1e90ff;
}

.completed-task-dodger {
  background-color: #1e90ff;
}

.completed-task-blue {
  background-color: blue;
}

.completed-task-royal {
  background-color: #4169E1;
}

.completed-task-sky {
  background-color: #87CEFA;
}

.completed-task-selective {
  background-color: #F6BB0A;
}

.completed-task-sandstorm {
  background-color: #F9D342;
}

.completed-task-minion {
  background-color: #FBE551;
}

.completed-task-flavescent {
  background-color: #FDE88D;
}

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

.input-text.date {
  border-radius: 5px;
  height: 2rem;
  width: 20.9%;
  font-size: 18px;
  /* font-family: monospace; */
  margin: 3px;
}

#hide-complete {
  display: none
}

#hide-delete {
  display: none
}